@use 'abstracts/containers' as containers;
@use 'abstracts/buttons' as buttons;

.method {
  padding-top: 100px;
  padding-bottom: 100px;
  &__container {
    box-sizing: border-box;
    @include containers.container();
  }
  &__header {
    text-align: center;
  }
  &__title {
    font-weight: 600;
    font-size: 36px;
    color: #076c68;
    margin: 0;
    padding: 0;
  }
  &__description {
    font-size: 18px;
    color: #076c68;

    margin: 0;
    padding: 0;
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
  &__body {
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  &__button {
    @include buttons.button();

    @include buttons.button-variant(
      $bg-color: #f58362,
      $text-color: white,
      $hover-bg: #ea7e5d,
      $active-bg: #e37a5a,
      $font-weight: 500
    );
  }
}
