@use 'abstracts/containers' as containers;
@use 'abstracts/buttons' as buttons;
@use 'abstracts/field-groups' as field-groups;

.footer {
  background-color: #f8f4f0;
  &__container {
    height: 100%;
    box-sizing: border-box;
    @include containers.container();
  }
  &__top {
    padding-top: 29px;
    padding-bottom: 29px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    @media (max-width: 1199px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 24px;
    }
  }
  &__body {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    @media (max-width: 1199px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 24px;
    }
  }
  &__bottom {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1199px) {
      padding-top: 40px;
      padding-bottom: 40px;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 10px;
    }
  }
  &__section {
    border-top: 0.5px solid rgba(0, 0, 0, 0.1);
    &--emphasis{
      background-color: #efeae6;
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    @media (max-width: 1199px) {
      justify-content: center;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 34px);
    gap: 10px;
    align-items: center;
    @media (max-width: 1199px) {
      grid-auto-flow: column;
      grid-auto-rows: auto;
    }
  }
  img {
    width: 34px;
    height: auto;
  }
  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    @media (max-width: 1199px) {

    }
  }
  &__list-item {
    margin: 0;
    padding: 0;
    color: #076c68;
    font-weight: 500;
    font-size: 15px;
    max-width: 350px;

  }
  &__title {
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #076c68;

  }
  &__text {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    color: #076c68;

    &--emphasis {
      color: #f58362;
      font-weight: 560;
    }

    &--info {
      max-width: 350px;
      color: rgba(7, 108, 104, 0.77);
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }

  &__circle {
    background-color: #ffffff;
    border: 1px solid #f58362;
    width: 34px;
    height: 34px;
    border-radius: 50%;
  }
  &__button {
    @include buttons.button($height: 48px, $padding: 0 19px, $font-size: 16px);
    &--secondary {
      @include buttons.button-variant(
        $bg-color: #076c68,
        $text-color: #ffffff,
        $hover-bg: #05524f,
        $active-bg: #033e3c
      );
    }
  }
  &__fg {
    @include field-groups.fg;

    &-input {
      @include field-groups.fg-input;
    }

    &-button {
      @include field-groups.fg-button;
    }
  }
}

